html,
body {
    height: 100%;
}

body {
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 1px;
    height: 100%;
    font-family: 'Lato', sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Montserrat', sans-serif;
}

.section-title {
    text-align: center;
    margin-bottom: 25px;
}

.section-title h2 {
    margin-top: 0;
    font-weight: 900;
    text-transform: uppercase;
    margin: 0 10px;
    padding: 10px 20px 15px;
}