
/*
* ----------------------------------------------------------------------------------------
* 17.FOOTER CSS STYLE
* ----------------------------------------------------------------------------------------
*/

.footer-area {
    background: #000;
    padding: 30px 0px;
    color: #f8f8f8;
}

.footer-area span {
    color: #fff;
    float: left;
    font-size: 12px;
    font-weight: 800;
    padding-top: 11px;
}

.footer-area .social {
    text-align: center;
}

.right-reserved {
    float: right !important;
}

.social > strong {
    color: #fff;
    float: left;
    font-size: 11px;
    font-weight: 700;
    line-height: 28px;
    margin-right: 10px;
    text-transform: uppercase;
}

.social > a {
    float: left;
    padding: 26px 10px;
    text-align: center;
}

.footer-area .social a {
    border: 1px solid #fff;
    height: 45px;
    line-height: 24px;
    margin-right: 10px;
    padding: 10px;
    width: 45px;
}

.social > a i {
    color: #fff;
    display: inline-block;
    height: auto;
    vertical-align: middle;
}

.social > a i:hover {
    color: rgba(255, 255, 255, 0.8);
}

.footer-area p {
    margin-bottom: 0;
    font-size: 14px;
}
