
.welcome-area {
    height: 100%;
}

.welcome-image-area {
    position: relative;
    height: 100%;
    background: url(../content/bg.jpg);
    background-size: cover;
    z-index: 1;
}

/*
.parallax-bg {
    background: url(../images/bg/bg1.png);
    background-size: cover;
}*/

.welcome-image-area:after {
    position: absolute;
    background: rgba(0, 0, 0, .7);
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    content: "";
    z-index: -1;
}

.display-table {
    display: table;
    width: 100%;
    height: 100%;
}

.display-table-cell {
    display: table-cell;
    vertical-align: middle;
}

.header-text {}

.header-text-area h2 {
    color: #fff;
    font-size: 48px;
    font-weight: 700;
    letter-spacing: 0;
    line-height: 64px;
    padding-top: 200px;
    text-transform: uppercase;
}

.header-text-area p {
    color: #fff;
}

.header-button {
    margin-left: -10px;
    margin-top: 30px;
}

.header-button a {
    background: transparent none repeat scroll 0 0;
    border: 2px solid #fff;
    border-radius: 25px;
    color: #fff;
    display: inline-block;
    margin: 0 10px 15px;
    padding: 10px 30px;
    transition: all 0.3s ease 0s;
}

.header-button a:hover {
    background: #fff none repeat scroll 0 0;
    color: #333;
}

.header-button a i {
    font-size: 20px;
    margin-right: 8px;
    vertical-align: middle;
}

.header-text h2 {
    border-width: 0;
    color: #fff;
    font-size: 60px;
    font-weight: 700;
    letter-spacing: 2px;
    line-height: 93px;
    text-transform: uppercase;
}

.contact-me-btn {
    background: transparent;
    border: 1px solid #fff;
    color: #fff;
    font-weight: 700;
    font-size: 14px;
    position: relative;
    text-transform: uppercase;
    display: inline-block;
    line-height: 24px;
    padding: 9px 40px;
}

.contact-me-btn:hover {
    background: #fff none repeat scroll 0 0;
    border: 1px solid #fff;
    color: #000;
}